
.jumbotron {
    padding-top: 6rem;
    width: 80%;
    margin: auto;
    min-width: 300px;
}

.h-modal-body {
    justify-content: center;
    padding-left: 12%;
    padding-right: 12%;
}

.h-error-msg {
    color: crimson;
    font-size: 12px;
    margin-left: 10px;
}