
.pr-modal-dialog {
    margin-top: 10vh;
    margin-bottom: 10vh;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.9);
}

.pr-modal-header-goback-button {
    background: none !important;
    justify-content: center;
    border: none;
    color: rgb(117, 117, 117);
    cursor: pointer;
}

.pr-modal-header-goback-button:hover {
    transition-duration: 1.5s;
    color: blue;
}

.pr-modal-body {
    justify-content: center;
    padding-left: 6%;
    padding-right: 6%;
}

.pr-recover-password-input-group {
    margin-top: 3vh;
}

.pr-recover-password-button-position {
    margin-top: 2vh;
    text-align: center;
}

.pr-error-msg {
    color: crimson;
    font-size: 12px;
    margin-left: 10px;
}