

.ru-modal-dialog {
    margin-top: 4rem;
}

.ru-modal-body {
    justify-content: center;
    padding-left: 6%;
    padding-right: 6%;
}

.ru-register-button-position {
    text-align: center;
}

.ru-error-msg {
    color: crimson;
    font-size: 12px;
    margin-left: 10px;
}